#Ignore the messy Backend folder for noe
C04_Backend/

#Ignore the Random Color Generator project
C03_JavaScript/ACTIVITY/

#Ignore the Guessing Game project for now
C03_JavaScript/11_guessingGame.js

# Ignore the Portfolio folder
Portfolio/