h1 {
    /* text-decoration: red line-through; */
    /* text-decoration: blueviolet double underline; */
    text-decoration: blueviolet wavy underline;
    letter-spacing: 3px;
    font-weight: 800;
    color: purple;
    background-color: pink;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
a {
    text-decoration: none; /*IT REMOVES THE DEFAULT LINE */

}
p {
    
    color: yellowgreen;
    background-color: beige;
}
button {
    color: cornflowerblue;
    background-color: azure;
}